asgiref==3.11.1
beautifulsoup4==4.14.3
Django==5.2.7
dj-database-url==3.1.2
groq==0.36.0
gunicorn==25.0.0
html5lib==1.1
lxml==6.1.0
packaging==26.2
psycopg2-binary==2.9.12
python-dotenv==1.2.1
pytz==2025.2
reportlab==4.4.4
six==1.17.0
soupsieve==2.8.3
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
webencodings==0.5.1
whitenoise==6.12.0
